{{ $ := .root }}
{{ $page := .page }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{end}}

{{ $person_page_path := (printf "/authors/%s" $author) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://sourcethemes.com/academic/docs/page-builder/#about " $person_page_path }}
{{end}}
{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}
{{ $avatar_shape := site.Params.avatar.shape | default "circle" }}


{{/* Only display widget title in explicit instances of about widget, not in author pages. */}}
{{ if and $page.Params.widget $page.Title }}<div class=row><h1><b>{{ $page.Title | markdownify | emojify }}</b></h1></div>{{ end }}

<div class="row">
  <h1 style="color:rgb(31, 100, 107)"><b>{{ $person.title }}</b></h1>
</div>

<!-- NEW -->

<div class="row">
  <div class="col-11 col-lg-4">
    <div>

      <!-- Conference date -->
      <div>
        <h2 style="color:rgb(141, 199, 66)"><b>Conference Date</b></h2>
        <b>{{ $person.conf_date}}</b>
      </div>

      <!-- Conference Location -->
      <div>
        <h2 style="color:rgb(141, 199, 66)"><b>Conference Location</b></h2>
        <b>{{ $person.conf_location}}</b>
      </div>

      <!-- Important Dates -->
      <div>
        {{ with $person.important_dates }}
          <h2 style="color:rgb(141, 199, 66)"><b>Important Dates</b></h2>
            {{ range . }}
              <div class="description">{{ .name | markdownify | emojify }}</div>
              <div><b>{{ .date | markdownify | emojify }}</b></div>
              <p></p>
            {{ end }}
        {{ end }}
      </div>

      <!-- Important Links -->
      <div>
        {{ with $person.important_links }}
          <h2 style="color:rgb(141, 199, 66)"><b>Important Links</b></h2>
            {{ range . }}
              <div class="description"><a href={{ .link }} style="color:rgb(31, 100, 107)">{{ .name | markdownify | emojify }}</a></div>
            {{ end }}
        {{ end }}
      </div>

    </div>
  </div>

  <div class="col-11 col-lg-8">
    <div>
    <!-- Overview -->
    <p></p>
    <div class="row">
      <div class="description">{{ $person_page.Content }}</div>
    </div>

    <!-- Information -->
    <div class="row">
      {{ with $person.information }}
        {{ range .}}
        <div>
          {{ if .link }}
            <a href={{ .link }}><h2 style="color:rgb(141, 199, 66)"><b>{{ .name }}</b></h2></a>
          {{ else }}
            <h2 style="color:rgb(141, 199, 66)"><b>{{ .name }}</b></h2>
          {{ end }}
          <div class="description">{{ .description }}</div>
        </div>
        {{ end }}
      {{ end }}


      <!-- Topics of interest -->
      {{ with $person.topics }}
      <div>
        <h2 style="color:rgb(141, 199, 66)"><b>Topics of Interest</b></h2>
        <ul>
          {{ range . }}
          <li>
            {{ . }}
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
    </div>
  </div>
</div>