{{ $ := .root }}
{{ $page := .page }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{end}}

{{ $person_page_path := (printf "/authors/%s" $author) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://sourcethemes.com/academic/docs/page-builder/#about " $person_page_path }}
{{end}}
{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}
{{ $avatar_shape := site.Params.avatar.shape | default "circle" }}


{{/* Only display widget title in explicit instances of about widget, not in author pages. */}}
{{ if and $page.Params.widget $page.Title }}<div class=row><div class="col-12 col-lg-8"><h1>{{ $page.Title | markdownify | emojify }}</h1></div></div>{{ end }}

<div class="row">
  <div class="col-12 col-lg-4">
    <h1 style="color:rgb(31, 100, 107)">{{ $person.title }}</h1>
  </div>
</div>

<!-- NEW -->

<div class="row">
  <div class="col-12 col-lg-4">

      <!-- Conference date -->
        <h2 style="color:rgb(141, 199, 66)">Conference Date</h2>
        <b>{{ $person.conf_date}}</b>

      <!-- Conference Location -->
        <h2 style="color:rgb(141, 199, 66)">Conference Location</h2>
        <b>{{ $person.conf_location}}</b>

      <!-- Important Dates -->
        {{ with $person.important_dates }}
          <h2 style="color:rgb(141, 199, 66)">Important Dates</h2>
            {{ range . }}
              <div>{{ .name | markdownify | emojify }}</div>
              <b>{{ .date | markdownify | emojify }}</b>
              <p></p>
            {{ end }}
        {{ end }}

      <!-- Important Links -->
        {{ with $person.important_links }}
          <h2 style="color:rgb(141, 199, 66)">Important Links</h2>
            {{ range . }}
              <div class="description"><a href={{ .link }} style="color:rgb(31, 100, 107)">{{ .name | markdownify | emojify }}</a></div>
            {{ end }}
        {{ end }}
  </div>

  <div class="col-12 col-lg-8">
    <!-- Overview -->
    <p></p>
      {{ $person_page.Content }}

    <!-- Information -->
      {{ with $person.information }}
        {{ range .}}
          {{ if .link }}
            <h2><a href={{ .link }} target="_blank" rel="noopener"><span style="color:rgb(141, 199, 66)">{{ .name }}</span> <i class="fas fa-chevron-right" aria-hidden="true"></i></a></h2>
          {{ else }}
            <h2 style="color:rgb(141, 199, 66)"><b>{{ .name }}</b></h2>
          {{ end }}

          {{ .description }}
        {{ end }}
      {{ end }}

      <!-- Topics of interest -->
      {{ with $person.topics }}
        <h2 style="color:rgb(141, 199, 66)">Topics of Interest</h2>
        <ul>
          {{ range . }}
          <li>
            {{ . }}
          </li>
          {{ end }}
        </ul>
      {{ end }}
  </div>
</div>