{{- define "main" -}}

<span class="js-widget-page d-none"></span>

{{ $widgets := where (where site.RegularPages "Section" "events") ".Params.headless" true }}
{{ $widgets = where $widgets ".Params.active" "!=" false }}

{{ range sort $widgets ".Params.weight" }}
	{{ $widget := or .Params.widget "blank" }}
	{{ if eq $widget "custom" }}{{ $widget = "blank" }}{{ end }}
	{{ if eq $widget "projects" }}{{ $widget = "portfolio" }}{{ end }}

	{{ $hash_id := .File.ContentBaseName }}
	{{ $widget_path := printf "widgets/%s.html" $widget }}
	{{ $widget_args := dict "root" $ "page" . "hash_id" $hash_id }}
	{{ $widget_class := printf "wg-%s" (replace (replace $widget "." "-") "_" "-") }}

	<section id="{{$hash_id}}" class="home-section {{$widget_class}}">
		<div class="home-section-bg"></div>
		<div class="container">
			{{ partial $widget_path $widget_args }}
		</div>
	</section>
{{ end }}

{{- end -}}
